<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ventas</title>
</head>
<body>
    <h1>Ventas</h1>
    <table border="1">
        <tr>
            <th>NoTicket</th>
            <th>Codigo</th>
            <th>CajeroId</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>CostoTotal</th>
        </tr>
        <% ventas.forEach(ventas => { %>
        <tr>
            <td><%= ventas.NoTicket %></td>
            <td><%= ventas.Codigo %></td>
            <td><%= ventas.CajeroId %></td>
            <td><%= ventas.Fecha %></td>
            <td><%= ventas.Cantidad %></td>
            <td><%= ventas.CostoTotal %></td>
        </tr>
        <% }) %>
    </table>
     <a href="/hola"> <button>Volver a inicio</button></a>
</body>
</html>
